<div class="container">
  <ya-map [center]="[55.76, 37.60]" [zoom]="12" (yaclick)="addPlacemark($event)">
    <ya-placemark (yaclick)="showPlacemark($event)" *ngFor="let item of (placemarks$ | async)"
                  [geometry]="[item.latitude, item.longitude]"
                  [properties]="{
      iconContent: item.title
    }" [options]="{
    iconLayout: 'default#imageWithContent',
    iconImageHref: item.image,
    iconImageSize: [48, 48],
    iconImageOffset: [0, 0],
    iconContentOffset: [0, 0]
}">
      }
    </ya-placemark>
  </ya-map>
</div>
